<div class="starter-template">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {{range .recs}}
        <tr>
          <td>{{.Name}}</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>
