<div class="starter-template">
  <form action="/games" method="POST" role="form">
    <div class="form-group">
      <label for="editGameName">Name</label>
      <div class="row">
        <div class="col-xs-6">
          <input type="text" name="name" class="form-control" id="editGameName">
        </div>
      </div>
    </div>

    <button class="btn btn-default" type="submit">Save</button>
  </form>
</div>
