<div class="starter-template">
  <div class="jumbotron">
    <h1>Welcome to Battle Answers!</h1>
    <p>
      Battle Answers is the fastest way to find an answer to your boardgame/cardgame related question.  We have gathered together
      thousands of gameplay-specific questions, provided vetted answers, and made them easily searchable through the extensive use
      of tags associated to each question.  So, whether you need to know if a pinned unit can withdrawal from close combat in 
      Advanced Squad Leader, or what happens to a general who has to retreat from a failed amphibious assault in
      Lincoln's War, you will find the answer, along with the answers to thousands of other questions, right here!
    </p>
  </div>

  <div class="page-header">
    <h2>Select a game below to search for answers to your question:</h2>
  </div>

  <p>
    <a href="/battle_answers/search?game_id=1" class="btn btn-default btn-lg active" role="button">Advanced Squad Leader</a>
    <a href="/battle_answers/search?game_id=2" class="btn btn-default btn-lg active" role="button">Unconditional Surrender</a>
    <a href="/battle_answers/search?game_id=3" class="btn btn-default btn-lg active" role="button">The Supreme Commander</a>
  </p>
</div>
