<div class="starter-template">
  <div class="well">
    <p>
      <strong>Game: </strong> {{.game.Name}}
    </p>
    <p>
      <strong>Keywords Searched For: </strong> {{.keywords}}
    </p>
  </div>
  {{range $index, $rec := .recs}}
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}">
              Question: {{$rec.Question}}
            </a>
          </h4>
        </div>
        <div id="collapse{{$index}}" class="panel-collapse collapse{{$index | addInClass}}">
          <div class="panel-body">
            <p>
              <h4>Answer</h4>
              {{$rec.Answer}}
            </p>
            <p class="text-info">
              <small><strong>Tags: </strong> {{$rec.Tags}}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
</div>
